services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "6000:5000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    env_file:
      - .env

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
